<!doctype html>
<html>
  <head>
    <title>Epic Robot Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Epic Robot Chat</h1>
      </header>
      <main>
        <div class="messages">
          {% for message in messages %}
            <div class="message">
              <strong>{{ message.sender }}:</strong> {{ message.message }}
            </div>
          {% endfor %}
        </div>
        <form class="chat-form" action="/send_message" method="POST">
          <label for="message">Message:</label>
          <input type="text" id="message" name="message" required>
          <br>
          <input type="submit" value="Send Message">
        </form>
        <form id="delete" class="chat-form" action="/delete_messages" method="POST">
          <input type="submit" value="Delete All Messages">
        </form>
      </main>
      <footer>
        <p>Copyright Ayana Hussain</p>
      </footer>
    </div>
  </body>
</html>
